.sidebar-page-container {
    padding: 0;
}
.sidebar-widget {
    margin-bottom: 5px;
}
.content {
    height : 272.4px;
    /*이후 bar로 높이 조절, 최소 최대 height 설정*/
    overflow:auto;
}

.vertical-bar{
    width : 100%;
    height : 10px;
    cursor: row-resize;
}


.sidebar-header{
    position: relative;
}
.sidebar-title{
    padding-right : 20px;
}
.add-list{
    position : absolute;
    top : 50%;
    right : 15px;
    transform: translateY(-50%);
    font-size: 40px;
    padding : 5px;
    border-radius: 50%;
    i{
        font-style: normal;
        &:before{
            content : "+";  
        }
    } 
    &:hover{
        background-color:#dedede;
    }
}