

@font-face {
    font-family: "amsterdam";
    src: url('../fonts/amsterdam.ttf');
}

#system-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

h1, h2, h3{
    font-family: "amsterdam";
    text-align: center;
    display: inline-block;
}

.points, .person_detection{
    width : 50%;
    height : 100%;
    padding : 1rem;
}

.percentage, .saying_word, .cheating_word, .person_counting{

    width : 50%;
    height : 100%;
    padding: 1rem;
}

